 <div class='nested-fields'>
  <div class='form-group'>
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
  </div>

  <div class='form-group'>
    <%= f.check_box :display, class: 'form-check-input' %>
    <%= f.label :display %>
  </div>

  <%= link_to_remove_association 'Remove Dashboard Item', f, class: 'btn btn-danger' %>
</div>
