<%= form_with(model: dashboard, local: true) do |form| %>
  <%= render 'layouts/error_messages', object: dashboard %>

  <div class='form-group'>
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <h3>Dashboard Items (Text contents for now)</h3>

  <div id='dashboard_items'>
    <%= form.fields_for :dashboard_items do |dashboard_item| %>
      <%= render 'dashboard_item_fields', f: dashboard_item %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add another text content', form, :dashboard_items, class: 'btn btn-primary mt-1' %>
    </div>
  </div>

  <div class='actions mt-5'>
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
