<%= form_with(model: dashboard, local: true) do |form| %>
  <% if dashboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dashboard.errors.count, "error") %> prohibited this dashboard from being saved:</h2>

      <ul>
        <% dashboard.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :order %>
    <%= form.number_field :order %>
  </div>

  <h3>Dashboard Items (Text contents for now)</h3>

  <div id='dashboard_items'>
    <%= form.fields_for :dashboard_items do |dashboard_item| %>
      <%= render 'dashboard_item_fields', f: dashboard_item %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add another text content', form, :dashboard_items %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
